<div class="bottom-32 absolute w-fit p-2 bg-vatsca3 h-fit z-50 rounded left-1/2 transform -translate-x-1/2 -translate-y-1/2">
    <div class="dropdown dropdown-top dropdown-hover">
        <div tabindex="0" role="button" class="btn m-1 bg-vatsca2 text-white">Denmark</div>
        <ul tabindex="0" class="dropdown-content z-[1] menu p-2 shadow bg-base-100 rounded-box w-64 text-white">
            <li><a href="/stands/denmark/ekch">EKCH - Copenhagen</a></li>
            <li><a href="/stands/denmark/ekbi">EKBI - Billund</a></li>
            <li><a href="/stands/denmark/ekah">EKAH - Aarhus</a></li>
            <li><a href="/stands/denmark/ekyt">EKYT - AAlborg</a></li>
            <li><a href="/stands/denmark/ekvg">EKVG - Vagar</a></li>
        </ul>
    </div>
    <div class="dropdown dropdown-top dropdown-hover">
        <div tabindex="0" role="button" class="btn m-1 bg-vatsca2 text-white">Sweden</div>
        <ul tabindex="0" class="dropdown-content z-[1] menu p-2 shadow bg-base-100 rounded-box w-64 text-white">
            <li><a href="/stands/sweden/essa">ESSA - Stockholm Arlanda</a></li>
            <li><a href="/stands/sweden/essb">ESSB - Stockholm Bromma</a></li>
            <li><a href="/stands/sweden/esgg">ESGG - Göteborg Landvetter</a></li>
            <li><a href="/stands/sweden/esms">ESMS - Malmö</a></li>
            <li><a href="/stands/sweden/espa">ESPA - Luleå</a></li>
        </ul>
    </div>
    <div class="dropdown dropdown-top dropdown-hover">
        <div tabindex="0" role="button" class="btn m-1 bg-vatsca2 text-white">Finland</div>
        <ul tabindex="0" class="dropdown-content z-[1] menu p-2 shadow bg-base-100 rounded-box w-64 text-white">
            <li><a href="/stands/finland/efhk">EKHF</a></li>
            <li><a href="/stands/finland/efkt">EFKT</a></li>
            <li><a href="/stands/finland/efku">EFKU</a></li>
            <li><a href="/stands/finland/efou">EFOU</a></li>
            <li><a href="/stands/finland/efro">EFRO</a></li>
            <li><a href="/stands/finland/eftp">EFTP</a></li>
            <li><a href="/stands/finland/eftu">EFTU</a></li>
        </ul>
    </div>
    <div class="dropdown dropdown-top dropdown-hover">
        <div tabindex="0" role="button" class="btn m-1 bg-vatsca2 text-white">Norway</div>
        <ul tabindex="0" class="dropdown-content z-[1] menu p-2 shadow bg-base-100 rounded-box w-64 text-white">
            <li><a href="/stands/norway/engm">ENGM</a></li>
            <li><a href="/stands/norway/enbr">ENBR</a></li>
            <li><a href="/stands/norway/enva">ENVA</a></li>
            <li><a href="/stands/norway/enzv">ENZV</a></li>
            <li><a href="/stands/norway/entc">ENTC</a></li>
        </ul>
    </div>
    <div class="dropdown dropdown-top dropdown-hover">
        <div tabindex="0" role="button" class="btn m-1 bg-vatsca2 text-white">Iceland</div>
        <ul tabindex="0" class="dropdown-content z-[1] menu p-2 shadow bg-base-100 rounded-box w-64 text-white">
            <li><a href="/stands/iceland/bikf">BIKF</a></li>
            <li><a href="/stands/iceland/ekvg">EKVG</a></li>
        </ul>
    </div>
</div>