---
import Layout from "../../layout/layout.astro";
---
<Layout>
    <div class="w-full h-screen flex flex-col justify-center items-center text-center">
        <h1 class="text-6xl py-6">Contact us</h1>
        <p class="text-2xl m-4">Need to get in contact with a specific member of our staff? <br/><a href="/staff" class="text-vatsca1">Go here</a></p>
        <p class="text-2xl m-4">Want to leave feedback about our expericnce with our services or controllers? <br/><a href="mailtofeedback@vatsim-scandinavia.org:" class="text-vatsca1">feedback@vatsim-scandinavia.org</a></p>
        <p class="text-2xl m-4">For general questions, please join our discord and use the #General channel <br/><a href="http://discord.vatsim-scandinavia.org/" class="text-vatsca1">Discord</a></p>
    </div>
</Layout>
