---
import Layout from "../../layout/layout.astro";
---
<Layout SiteTitle="VATSIM Scandinavia">
    <div class="w-full h-screen flex flex-col justify-start items-center text-center">
        <h1 class="text-5xl py-12 font-semibold">Contact us</h1>
        <p class="text-xl m-4">Need to get in contact with a specific member of our staff? <br/><a href="/about/staff" class="text-vatsca1">Go here</a></p>
        <p class="text-xl m-4">Want to leave feedback about our expericnce with our services or controllers? <br/><a href="https://cc.vatsim-scandinavia.org/feedback" class="text-vatsca1">cc.vatsim-scandinavia.org/feedback</a></p>
        <p class="text-xl m-4">For general questions, please join our discord and use the #General channel <br/><a href="http://discord.vatsim-scandinavia.org/" class="text-vatsca1">Discord</a></p>
    </div>
</Layout>
