---
import Layout from "../../layout/layout.astro";
---
<Layout>
    <div class="w-full h-screen flex flex-col items-center pt-12">
        <div class="max-w-[1300px] w-full flex flex-col items-center">
            <h1 class="text-6xl font-medium">Donations</h1>
            <hr  class="border-1 border-vatsca2/50 w-1/3 m-4"/>
            <p class="text-lg m-4">The price to run the VATSIM Scandinavia services are quite low. The only thing that needs to be payed for now, is the yearly fee of our domains and Cloudflare. However… We have recently acquired a VPS to safeguard data, and added some modules to the forum to merge the web page and forums to comply with GDPR. This has more or less drained our monetary resources.</p>
            <p class="text-lg m-4">To help pay for the service provided for VATSIM Scandinavia, we have set up a PayPal donation option. Any donation, no matter how small, is greatly appreciated. Below is an agreement that we must place on the site as per our agreement with the VATSIM Board of Governors.</p>

            <h2 class="text-xl font-semibold text-left pt-12">Our Agreement</h2>
            <ul class="list-disc text-lg m-4">
                <li>
                    Every EUR donated will go towards funding our web services. As we will be using the PayPal system to accept donations, your financial commitment will be guaranteed towards funding our web services.
                </li>
                <li>
                    VATSIM Scandinavia will continue to work proactively to grow our community and will do its utmost to constantly improve the final product to our membership.
                </li>
                <li>
                    We will not disclose the details of anyone who has donated, or how much they have donated.
                </li>
                <li>
                    We will not treat those who do and don’t donate any differently, as below.
                </li>
            </ul>
            <h2 class="text-xl font-semibold text-left pt-12">Your Agreement</h2>
            <ul class="list-disc text-lg m-4">
                <li>
                    By donating, you agree that your financial contribution is solely an act of goodwill, and that such a contribution does not grant you with any higher say in how the VACC is run. You agree that you will never use the fact that you have made a financial contribution as a tool to attempt to influence or intimidate staff members or the general membership.
                </li>
                <li>
                    You will not use the fact that you have made a financial contribution for elevating your status in the VACC, nor to attempt to “bribe” the VACC into granting you special privileges.
                </li>
                <li>
                    Once you have donated, you have surrendered your right to claim your money back at any time, unless your financial contribution does not go towards running costs for web services, as described.
                </li>
                <li>
                    You confirm that you are 18 years or older.
                </li>
            </ul>
        </div>        
    </div>
</Layout>