---
import Layout from "../../layout/layout.astro";

const staffteam = [
    {director: {STAFFID: "ACCSCA1",POSITION:"Director",NAME:"Daniel Dahl Andersen",EMAIL:"director@vatsim-scandinavia.org",AVILABILITY:"AVL",DEPARTMENT:"Directors"}},
    {STAFFID: "ACCSCA2",POSITION:"Training Director",NAME:"Simo Pietikäinen",EMAIL:"training-director@vatsim-scandinavia.org",AVILABILITY:"AVL", DEPARTMENT:"Traning"},
    {STAFFID: "ACCSCA3",POSITION:"Acting Director of Copenhagen FIR",NAME:"Peter Toft",EMAIL:"denmark@vatsim-scandinavia.org",AVILABILITY:"AVL", DEPARTMENT:"Directors"},
    {STAFFID: "ACCSCA4",POSITION:"Director of Norway FIR",NAME:"Krister Larsen",EMAIL:"norway@vatsim-scandinavia.org",AVILABILITY:"AVL", DEPARTMENT:"Directors"},
    {STAFFID: "ACCSCA5",POSITION:"Director of Sweden FIR",NAME:"Martin Loxbo",EMAIL:"sweden@vatsim-scandinavia.org",AVILABILITY:"AVL", DEPARTMENT:"Directors"},
    {STAFFID: "ACCSCA6",POSITION:"Director of Helsinki FIR",NAME:"Richard Weber",EMAIL:"finland@vatsim-scandinavia.org",AVILABILITY:"AVL", DEPARTMENT:"Directors"},
    {STAFFID: "ACCSCA7",POSITION:"Director of Reykjavík CTA",NAME:"Gunnar Gudm",EMAIL:"iceland@vatsim-scandinavia.org",AVILABILITY:"AVL", DEPARTMENT:"Directors"},
    {STAFFID: "ACCSCA9",POSITION:"Data Protection Officer",NAME:"Henrik Sønstebø",EMAIL:"dpo@vatsim-scandinavia.org",AVILABILITY:"AVL", DEPARTMENT:"Dpo"},
    {STAFFID: "ACCSCA11",POSITION:"Web Services Director",NAME:"Daniel Lange",EMAIL:"web@vatsim-scandinavia.org",AVILABILITY:"AVL", DEPARTMENT:"Web"},
    {STAFFID: "ACCSCA12",POSITION:"Web Services Assistant",NAME:"Thor Høgås",EMAIL:"web@vatsim-scandinavia.org",AVILABILITY:"AVL", DEPARTMENT:"Web"},
    {STAFFID: "ACCSCA13",POSITION:"Web Services Assistant",NAME:"David Mortensen",EMAIL:"web@vatsim-scandinavia.org",AVILABILITY:"AVL", DEPARTMENT:"Web"},
    {STAFFID: "ACCSCA14",POSITION:"Web Services Assistant",NAME:"Markus Nielsen",EMAIL:"web@vatsim-scandinavia.org",AVILABILITY:"AVL", DEPARTMENT:"Web"},
    {STAFFID: "ACCSCA15",POSITION:"Event Coordinator",NAME:"Max Kuhla",EMAIL:"event@vatsim-scandinavia.org",AVILABILITY:"AVL", DEPARTMENT:""},
    {STAFFID: "ACCSCA16",POSITION:"Pilot Training Manager",NAME:"Jere Heiskanen",EMAIL:"pilot-training@vatsim-scandinavia.org",AVILABILITY:"AVL", DEPARTMENT:""},
    {STAFFID: "ACCSCA17",POSITION:"Chief Flight Instructor",NAME:"Arttu Uusi-Kyyny",EMAIL:"pilot-training@vatsim-scandinavia.org",AVILABILITY:"AVL", DEPARTMENT:""},
    {STAFFID: "ACCSCA18",POSITION:"Deputy Chief Flight Instructor",NAME:"Vincent Matsuuke",EMAIL:"pilot-training@vatsim-scandinavia.org",AVILABILITY:"AVL", DEPARTMENT:""},
    {STAFFID: "ACCSCA21",POSITION:"Training Assistant Sweden",NAME:"Håkan Schulz",EMAIL:"training-sweden@vatsim-scandinavia.org",AVILABILITY:"AVL", DEPARTMENT:"Traning"},
    {STAFFID: "ACCSCA22",POSITION:"Acting Training Assistant Denmark",NAME:"Kristoffer Michelsen",EMAIL:"training-denmark@vatsim-scandinavia.org",AVILABILITY:"AVL", DEPARTMENT:"Traning"},
    {STAFFID: "ACCSCA23",POSITION:"Training Assistant Norway",NAME:"Daniel Lange",EMAIL:"training-norway@vatsim-scandinavia.org",AVILABILITY:"AVL", DEPARTMENT:"Traning"},
    {STAFFID: "ACCSCA24",POSITION:"Training Assistant Finland",NAME:"Otto Tuhkunen",EMAIL:"training-finland@vatsim-scandinavia.org",AVILABILITY:"AVL", DEPARTMENT:"Traning"},
    {STAFFID: "ACCSCA25",POSITION:"Training Assistant Iceland",NAME:"Kieran Riley",EMAIL:"training-iceland@vatsim-scandinavia.org",AVILABILITY:"AVL", DEPARTMENT:"Traning"},
    {STAFFID: "ACCSCA26",POSITION:"Deputy Training Assistant Sweden",NAME:"",EMAIL:"training-sweden@vatsim-scandinavia.org",AVILABILITY:"VAC", DEPARTMENT:"Traning"},
    {STAFFID: "ACCSCA27",POSITION:"Deputy Training Assistant Denmark",NAME:"Jakob Ek Jensen",EMAIL:"training-denmark@vatsim-scandinavia.org",AVILABILITY:"AVL", DEPARTMENT:"Traning"},
    {STAFFID: "ACCSCA28",POSITION:"Deputy Training Assistant Norway",NAME:"Jannik Huttenlocher",EMAIL:"training-norway@vatsim-scandinavia.org",AVILABILITY:"AVL", DEPARTMENT:"Traning"}
]
---
<Layout>
    <div class="w-full h-fit flex flex-col justify-center items-center">
        <h1 class="text-4xl py-6">Staff team</h1>
        <p class="text-lg dark:text-gray-400 italic">Feedback for our ATC services, or general comments about VATSIM Scandinavia, can be sent to feedback@vatsim-scandinavia.org</p>
        <div class="w-full max-w-[1300px] px-24 py-6 grid grid-cols-1 md:grid-cols-2 xl:grid-cols-6 gap-4 place-content-center justify-items-center">
            {staffteam.map(staff => 
                <div class="bg-vatsca3 p-4 aspect-[23/30] w-64 rounded flex items-center justify-center text-center flex-col relative">
                    <img src={"/Arrow.svg"} alt="" class="w-2/3 rounded-full" />
                    <p class="text-gray-200 italic">{staff.STAFFID}</p>
                    <h3 class="text-white mt-2 font-bold text-lg">{staff.NAME}</h3>
                    <h4 class="text-white">{staff.POSITION}</h4>
                    <span class="m-2"><a href={"mailto:"+staff.EMAIL}><img src="/email.svg" alt="E-Mail icon" class="w-8" /></a></span>
                </div>
                )}
        </div>
    </div>
</Layout>