---
import Layout from "../../layout/layout.astro";
import { getCollection } from 'astro:content';

export async function getStaticPaths() {
  const blogEntries = await getCollection('announcements');
  return blogEntries.map(entry => ({
    params: { slug: entry.slug }, props: { entry },
  }));
}
// 2. For your template, you can get the entry directly from the prop
const { entry } = Astro.props;
const { Content } = await entry.render();

---
<Layout>
    <div class="flex justify-center min-h-[calc(100vh-240px)]">
        <div class="w-full max-w-[1300px] flex justify-center flex-col p-4">
            <div class="py-4">
                <h1 class="text-4xl font-bold">{entry.data.title}</h1>
                <hr class="border-2 my-2"/>
                <p class="text-2xl font-semibold">{entry.data.role} | {entry.data.author}</p>
                <p class="text-2xl">{new Date(entry.data.date).toLocaleDateString('en-GB')}</p>
            </div>
            <Content class="text-xl"/>
        </div>
    </div>
</Layout>

<style is:inline>
  h1 {
    font-size: 2.25rem;
    line-height: 2.5rem;
  }
  h2 {
    font-size: 1.5rem;
    line-height: 2rem;
  }
  h3 {
    font-size: 1.25rem;
    line-height: 1.75rem;
  }
  img {
    padding-top: 1rem;
    padding-bottom: 1rem;
  }
</style>
