---
import Layout from "../layout/layout.astro";
---
<Layout SiteTitle="VATSIM Scandinavia">
    <div class="w-full h-screen grid grid-cols-1 md:grid-cols-2 gap-4 p-4 bg-snow">
        <div class="bg-white h-fit w-full">
            <div class="bg-vatsca2 text-white font-xl h-fit text-2xl p-4">
                About VATSIM Scandinavia
            </div>
            <p class="p-4 text-lg">
                Welcome to VATSIM Scandinavia, your gateway to immersive virtual aviation experiences in the stunning landscapes of the Nordic region. As a division within the VATSIM network, we are dedicated to providing a platform where aviation enthusiasts can come together to simulate realistic flight operations and air traffic control services. Our community is centered around fostering a passion for aviation, whether you're a seasoned pilot or just beginning your journey into the virtual skies.
            </p>
            <p class="p-4 text-lg">
                At VATSIM Scandinavia, we offer a vibrant and welcoming environment where members can explore the diverse airspace of Sweden, Norway, Denmark, Finland, and Iceland. Our team of dedicated virtual air traffic controllers ensures that every flight is guided safely and professionally, while our pilot community takes to the skies, experiencing the thrill of realistic flight simulation. Whether you're looking to enhance your piloting skills, engage in air traffic control, or simply connect with fellow aviation enthusiasts, VATSIM Scandinavia is here to provide an authentic and enjoyable experience for all. Join us today and embark on a virtual aviation adventure like no other.
            </p>
        </div>
        <div class="bg-white h-fit w-full">
            <div class="bg-vatsca2 text-white font-xl h-fit text-2xl p-4">
                Futher information
            </div>
            <ul class="list-disc text-xl font-medium pl-8">
                <li class="p-2"><a href="/about/constitution_and_regulations">Constitution and Regulations</a></li>
                <li class="p-2"><a href="/about/donations">Donations</a></li>
                <li class="p-2"><a href="/about/staff">Staff</a></li>
                <li class="p-2"><a href="https://wiki.vatsim-scandinavia.org/books/privacy-policies">Privacy Policies</a></li>
                <li class="p-2"><a href="https://wiki.vatsim-scandinavia.org/books/graphical-profile">Graphical Profile</a></li>
                <li class="p-2"><a href="http://discord.vatsim-scandinavia.org/">Discord</a></li>
            </ul>
        </div>
    </div>
</Layout>