---
import Layout from "../layout/layout.astro";
import { getCollection } from 'astro:content'

const allAnnouncements = await getCollection('announcements');
console.log(allAnnouncements)
---
<Layout SiteTitle="VATSIM Scandinavia">
    <div class="w-full h-[81.6vh]">
        <ul>
            {allAnnouncements.map(announcement => (
                <li>
                    <h2 class="text-xl font-semibold">{announcement.data.title}</h2>
                    <p>{announcement.body}</p>
                </li>
            ))}
        </ul>
    </div>
</Layout>