---
import Layout from "../layout/Layout.astro";
---
<Layout SiteTitle="VATSIM Scandinavia">
    <div class="w-full h-fit flex flex-col justify-start items-center text-center dark:bg-vatsca3/75  bg-repeat">
        <h1 class="font-bold text-4xl py-12">Do's and don'ts</h1>
        <div class="w-full max-w-[1500px] h-full grid gap-4 grid-cols-1 md:grid-cols-2">
            <div class="h-full w-full text-[#63cd72] ">
                <h1 class="font-bold text-4xl bg-[#28465e] w-full rounded p-2">✅ Do's</h1>
                <ul class="list-disc list-inside text-left text-lg gap-2 text-black dark:text-white">
                    <li>
                        <strong>Read&nbsp;<a href="https://vatsim.net/docs/pilots/pilot-basics" rel="external nofollow noopener" target="_blank">VATSIM Pilot Basics</a>&nbsp;before connecting to the network.</strong>
                    </li>
                    <li>
                        Understand that VATSIM is a hobby that should be fun for everyone. This includes other pilots and controllers – not just you!
                    </li>
                    <li>
                        Understand that you are not alone in the flight sim world when on VATSIM. If you interfere with another aircraft you might ruin the flight for another actual person, not just pixels on the screen.
                    </li>
                    <li>
                        Understand that controllers are people too.
                    </li>
                    <li>
                        <strong>Connect to VATSIM while parked at a gate</strong>&nbsp;or parking area.
                    </li>
                    <li>
                        <strong>Know how to communicate</strong>&nbsp;with text on the radio frequency and via private message.
                    </li>
                    <li>
                        <strong>Know how to fly your aircraft</strong>. ATC is not your flight instructor.
                    </li>
                    <li>
                        <strong>File an appropriate flight plan route&nbsp;for your flight.</strong> There are many sources online for routes, for example&nbsp;vRoute.
                    </li>
                    <li>
                        <strong>File an appropriate cruising level</strong>&nbsp;for your direction of flight. In most countries this means&nbsp;<strong>even&nbsp;</strong>levels (such as FL280, 300, 320 etc.) for&nbsp;westbound&nbsp;flights (magnetic track 180°-359°) and&nbsp;<strong>odd&nbsp;</strong>levels (FL290, 310, 330 etc.) for&nbsp;eastbound&nbsp;flights (magnetic track 360°-179°). There may be local variations to this rule so expect a small change in flight level if requested by ATC.
                    </li>
                    <li>
                        <strong>Know how to fly the route you have filed.</strong> If you file a route via certain waypoints or airways, ATC will expect you to follow this route.
                    </li>
                    <li>
                        File a flight plan with a valid aircraft type designator. This ensures your aircraft type is recognised correctly by ATC as well as other pilots. Type designators are published in&nbsp;ICAO DOC 8643.
                    </li>
                    <li>
                        Indicate whether you can use voice to transmit and receive, voice to receive only, or text only to communicate by including /V/, /R/ or /T/ in the Remarks section of the flight plan.
                    </li>
                    <li>
                        <strong>Choose a realistic call sign.</strong> For an airline flight this is typically the three letter&nbsp;ICAO airline designator&nbsp;followed by the flight number or another combination of a maximum of 4 numbers and letters, for example&nbsp;<strong>SAS123&nbsp;</strong>(pronounced “Scandinavian 123”) or&nbsp;<strong>RYR45AB&nbsp;</strong>(pronounced “Ryanair 45 Alfa Bravo”). For general aviation flights, the call sign is normally the aircraft registration, for example SE-ABC or G-ABCD. Note that the hyphen (-) is not used for the call sign, so you should connect as&nbsp;<strong>SEABC&nbsp;</strong>or&nbsp;<strong>GABCD</strong>.
                    </li>
                    <li>
                        <strong>Have charts&nbsp;</strong>available for at least your expected taxi route, SID, STAR and approach. If not, advise ATC so they can give alternative instructions.
                    </li>
                    <li>
                        <strong>Check if there is ATC online&nbsp;</strong>for your area before you start taxiing and periodically during the flight. If you are not sure if a controller is responsible for your airport, send a private message to make sure.
                    </li>
                    <li>
                        <strong>Check the controller’s Controller Information</strong>&nbsp;also known as text ATIS before making contact. This message can contain important information.
                    </li>
                    <li>
                        <strong>Listen to the ATIS</strong>, if available, before making contact with ATC.
                    </li>
                    <li>
                        <strong>Report your parking position, aircraft type and latest ATIS and QNH received</strong>&nbsp;on first contact with ATC.
                    </li>
                    <li>
                        <strong>Make sure your transponder is operating</strong>&nbsp;(in “Mode C” or “Normal” depending on your pilot client)<strong>&nbsp;whenever you are airborne&nbsp;</strong>or otherwise instructed by ATC.
                    </li>
                    <li>
                        <strong>Ask ATC to clarify if you don’t understand&nbsp;a clearance or instruction</strong>. Depending on the situation, this is best done on the communication frequency or via private message.
                    </li>
                    <li>
                        <strong>Listen before you speak</strong>. If ATC has just spoken to another pilot, allow him to answer before you transmit.
                    </li>
                    <li>
                        <strong>Listen out</strong>&nbsp;on the frequency, whether using voice or text. ATC expects you to reply promptly to any instructions.
                    </li>
                    <li>
                        <strong>Reply promptly</strong>&nbsp;to ATC instructions. This is especially important when using voice, as the controller will wait for your reply before talking to other aircraft.
                    </li>
                    <li>
                        <strong>Read back altimeter setting instructions.</strong> This includes QNH, QFE and transition level.
                    </li>
                    <li>
                        <strong>Know the&nbsp;<a href="https://en.wikipedia.org/wiki/NATO_phonetic_alphabet" rel="external nofollow noopener" target="_blank">phonetic alphabet</a></strong>&nbsp;as ATC will use it to spell waypoints and callsigns.
                    </li>
                    <li>
                        <strong>Descend according to the STAR and instrument approach profile</strong>&nbsp;if ATC clears your for approach.
                    </li>
                    <li>
                        <strong>Set the local QNH before departure and latest when descending through the transition level.</strong> Before departure you can check that the QNH is correct by comparing your indicated altitude to the published aerodrome elevation. An incorrect pressure setting results in flying at the&nbsp;wrong altitude&nbsp;which can cause a loss of separation.
                    </li>
                    <li>
                        <strong>Expect ATC to give shortcuts</strong>&nbsp;when they can. This saves fuel but could also be done to solve traffic conflicts. If you are unable to accept a shortcut or revised routing you have to advise ATC.
                    </li>
                    <li>
                        <strong>Use voice if you can&nbsp;</strong>to communicate. Text communications add considerably to the controller’s workload and also take away from the realism of the simulation. Preferably use a headset (there are cheap ones to get!) and calibrate your microphone so that ATC can hear you clearly.
                    </li>
                    <li>
                        <strong>Have a pen and paper ready&nbsp;</strong>when asking for clearance or weather information. Professional pilots always write down clearances so why shouldn’t you? It’s also almost impossible to remember a clearance if it’s complex so write the important bits down and you’ll be able to reply straight away.
                    </li>
                    <li>
                        <strong>Squawk 7000 (for VFR) or 2000 (for IFR)&nbsp;</strong>if no transponder code has been assigned by ATC.
                    </li>
                    <li>
                        <strong>Know the missed approach procedure</strong>. In some cases there can be early turns and level-off altitudes as low as 1500 ft, so be prepared!
                    </li>
                    <li>
                        <strong>Know how to fly a holding</strong>. Holding patterns can be found on the charts.
                    </li>
                </ul>
            </div>
            <div class="text-[#e34860] h-full w-full">
                <h1 class="font-bold text-4xl bg-[#28465e] w-full rounded p-2">❌ Don't</h1>
                <ul class="list-disc list-inside text-left text-lg gap-2 text-black dark:text-white">
                    <li>
                        <strong>Connect to VATSIM on a runway</strong> or taxiway. You may be in the way of other traffic.
                    </li>
                    <li>
                        <strong>File a flight plan route that you are not able or don’t understand how to fly.</strong>
                    </li>
                    <li>
                        <strong>Expect ATC to “baby-sit” you. </strong>Controllers will be happy to help if you have a problem, but are not there to teach you how to use your software or fly your aircraft.
                    </li>
                    <li>
                        <strong>Read back a clearance that you don’t understand</strong>. It may sound cool on the radio, but you are just creating problems for everyone.
                    </li>
                    <li>
                        <strong>Assume you heard</strong> what ATC said. If you are not sure, ask!
                    </li>
                    <li>
                        <strong>Leave the flight deck </strong>when in controlled airspace, unless you have prior permission from the controller.
                    </li>
                    <li>
                        <strong>Send a text message</strong> if you can’t get a word in on voice on a busy frequency expecting to get a quicker service. The controller is only one person and will deal with you as quickly as possible. Overloading the controller with messages will not speed up the process.
                    </li>
                    <li>
                        <strong>Climb straight to your cruising level</strong> just because you didn’t hear any altitude in your IFR clearance. Most likely the altitude will be included as part of the SID description.
                    </li>
                    <li>
                        <strong>Climb above SID levels</strong> unless instructed by ATC.
                    </li>
                    <li>
                        <strong>Descend below STAR minimum levels</strong> unless the restrictions are specifically cancelled by ATC.
                    </li>
                    <li>
                        <strong>Blame the autopilot.</strong> If you are going the wrong way “because it’s in the FMS” you should be prepared to intervene, and of course let ATC know if you have trouble following an instruction.
                    </li>
                    <li>
                        <strong>Ask ATC to switch to text</strong> just because you don’t hear an instruction the first time. This will add considerably to the controller’s workload. In most cases it is better to ask ATC to say again and listen carefully. If you know what to expect it is also easier to hear what is being said, for example if you know the name of the expected SID.
                    </li>
                    <li>
                        <strong>Use the 2 character IATA airline code</strong> for your call sign (for example SK123 or BA456). This code is used by the airlines for ticketing etc. Flight plans and call signs always use three letter ICAO designators (for example SAS123 or BAW456).
                    </li>
                    <li>
                        <strong>Assume that ATC can always vector you.</strong> In some areas ATC does not have radar coverage and this may be simulated on VATSIM. In these areas ATC cannot see your position so expect to give position reports over the radio.
                    </li>
                    <li>
                        <strong>Assume that there is always an ILS approach.</strong> Some runways don’t have an ILS and in this case you have to fly a non-precision approach (VOR, NDB or RNAV) or a visual approach, or go somewhere else!
                    </li>
                    <li>
                        <strong>Read back weather information.</strong> This is a waste of time on the frequency. The only weather-related information that requires a readback is altimeter settings.
                    </li>
                    <li>
                        <strong>Talk if being told to “stand by”</strong>. This means the controller will get back to you shortly. If you don’t hear anything after a few minutes, it is possible the controller forgot you (remember they are people too!) so feel free to call again.
                    </li>
                    <li>
                        <strong>Push back without a clearance.</strong> Some pilots think that “start-up approved” means that they can also push back. This is not correct. (However, national and local airport regulations can be different).
                    </li>
                    <li>
                        <strong>Request to shut down engines</strong>. Some pilots do this on VATSIM, but think about it, why would you need permission to shut down your engines?
                    </li>
                    <li>
                        <strong>Ask for something if you are not ready.</strong> For example, if you ask for push-back, be ready for push-back. If you are not ready you are blocking the taxiway unnecessarily.
                    </li>
                    <li>
                        <strong>Land without a clearance.</strong> If you think you have been forgotten by ATC, give a polite reminder, such as “Air France 123 on short final”. If you are unable to get a landing clearance before you reach the runway threshold you must perform a missed approach.
                    </li>
                    <li>
                        <strong>File a route straight from the flight planner in MSFS.</strong> These routes are often going the wrong way on unidirectional ATS routes, which is like driving the wrong way down the motorway. You wouldn’t do that, would you? Instead, double-check if the route is reasonable by checking with vRoute or another flight plan source, or you can even check what routes other pilots have filed.
                    </li>
                </ul>
            </div>
        </div>
    </div>
</Layout>
