---
import Layout from "../layout/Layout.astro";
import Bookings from "../components/Bookings.astro";
import HeroButton from "../components/ui/HeroButton.astro";
import CardBox from "../components/ui/CardBox.astro";
import CardButton from "../components/ui/CardButton.astro";
import Events from "../components/Events.astro";
import { getCollection } from 'astro:content';

const allAnnouncements = await getCollection('announcements');
allAnnouncements.sort((a, b) => new Date(b.data.date).getTime() - new Date(a.data.date).getTime());

---

<Layout SiteTitle="VATSIM Scandinavia">
    <div class="w-full h-full flex flex-col items-center -mt-20">
        
        <div class="w-full h-[calc(50vh)] flex justify-center mt-[150px]" >
            <div class="max-w-[1300px] w-full h-full flex">
                <div class="w-full flex flex-col items-center justify-center p-12 font-bold">
                    <h1 class="text-secondary dark:text-white text-4xl 2xl:text-6xl text-center drop-shadow-xl">
                        Serving the Scandinavian skies 
                    </h1>
                    <p class="mt-12 sm:mt-0 text-secondary dark:text-white text-xl p-2 text-center w-full md:w-3/5 lg:w-full drop-shadow-xl font-medium">
                        Home vACC of Denmark, Finland, Iceland, Norway & Sweden
                    </p>
                    <div class="flex gap-4 pt-4 w-full">
                        <HeroButton href="https://wiki.vatsim-scandinavia.org/books/getting-started-AVr/chapter/joining-vatsim-scandinavia" text="Join VATSIM Scandinavia" color="bg-success"/>
                        <HeroButton href="http://discord.vatsim-scandinavia.org" text="Join our Discord" color="bg-[#8397ee] dark:bg-[#5c6aa7]"/>
                    </div>
                </div>
                <div class="w-full hidden xl:block">
                    <div class="w-full h-full flex items-center justify-center">
                        <img src="/img/euroscope.svg" class="w-full"/>
                    </div>
                </div>
            </div>
        </div>
        
        <div class="w-full h-fit flex justify-center" id="bookings">
            <div class="max-w-[1300px] w-full content-center pt-6 pb-6">
                <div class="flex gap-8">
                    <div class="w-[950px] flex flex-col gap-8">
                        <CardBox title="Latest announcements" padding="2">
                            {allAnnouncements.slice(0, 2).map(post => 
                                <div class="p-2 mt-2 mb-4 hover:bg-white dark:hover:bg-black hover:brightness-[95%]">
                                    <a href={"/"}>
                                        <div class="flex">
                                            <div class="w-[90%]">
                                                <div class="font-semibold text-lg text-secondary dark:text-white">
                                                    {post.data.title}
                                                </div>
                                                <div class="text-sm">
                                                    {post.data.description}
                                                </div>
                                            </div>
                                            <div class="w-[10%] text-grey text-right dark:text-white">
                                                24 JUN
                                            </div>
                                        </div>
                                    </a>
                                </div>
                            )}
                        </CardBox>
                            
                        <CardBox title="Events">
                            <Events/>
                        </CardBox>
                    </div>
                        
                    <div class="flex flex-col gap-8">
                        <CardBox title="Live ATC & Bookings">
                            <Bookings />
                        </CardBox>

                        <CardBox title="Donations" padding="4">
                            <p>
                                Your donations enable us to maintain our infrastructure, to continue providing the best possible services for our members and guests.
                            </p>

                            <CardButton href="/about/donations" text="Read more" color="snow"/>
                        </CardBox>

                        <CardBox title="Feedback" padding="4">
                            <p>
                                Provide your feedback that we can use to improve our Scandinavian controllers.
                            </p>
                            
                            <CardButton href="https://cc.vatsim-scandinavia.org/feedback" text="Leave us feedback" color="snow"/>
                        </CardBox>
                    </div>
                </div>                    
            </div>
        </div>
        </div>
</Layout>
