---
import Layout from "../layout/layout.astro";
import DisplayBookings from "../components/DisplayBookings.astro";
import Map from "../components/Map";
import { Button } from "@nextui-org/react";

const announcement = [{
    title:"[VACANT POSITION] Director of VATSIM Scandinavia",
    description: "Due to the recent discussions in various channels of our Discord server and on these forums, I have been asked to make this announcement explaining our position and the position of VATSIM regarding the ongoing war.",
    date: "February 29",
    author: "Christian Kovanen",
    link: ""
  },
  {
    title: "Real-world conflicts on VATSIM",
    description: "Due to the recent discussions in various channels of our Discord server and on these forums, I have been asked to make this announcement explaining our position and the position of VATSIM regarding the ongoing war.",
    date: "February 29",
    author: "Christian Kovanen",
    link: ""
  }]
---

<Layout SiteTitle="VATSIM Scandinavia">
  <div class="overflow-hidden w-full h-full flex flex-col items-center bg-vatsca3 bg-[url('/scandinavia.png')] bg-center bg-cover -mt-20">
    <div class="w-full h-[calc(100vh)] flex justify-center backdrop-blur-sm bg-vatsca3/75" >
      <div class="max-w-5/6 w-full h-full flex">
      <div
        class="w-full flex flex-col items-center justify-center p-12 font-bold"
      >
        <h1 class="text-snow text-6xl md:text-7xl 2xl:text-8xl text-center drop-shadow">
          <span class="">vATC</span> SERVICES
        </h1>
        <h1 class="text-snow text-xl md:text-4xl 2xl:text-6xl text-center drop-shadow uppercase">
          across scandinavia's skies 
        </h1>
        <p
          class="mt-12 sm:mt-0 text-snow text-xl p-2 text-center w-full md:w-3/5 lg:w-full drop-shadow font-medium"
        >
          Home vACC of Denmark, Sweden, Norway, Finland & Iceland
        </p>
      </div>
      <div class="w-full hidden xl:block">
        <Map client:load/>
      </div>
      </div>
    </div>

    <div
      class=" w-full h-fit bg-vatsca3 backdrop-blur-sm bg-vatsca3/75 flex justify-center"
      id="bookings"
    >
      <div class="max-w-[1300px] w-full grid gap-8 content-center pt-6 pb-6 grid-cols-1 xl:grid-cols-6">
      <div class="w-full h-full flex flex-col col-span-6 xl:col-span-4">
        <div
          class="bg-vatsca2 h-12 text-xl font-bold text-white w-full m-0 pl-4 flex items-center"
        >
          Latest announcements
        </div>
        <div class="bg-white dark:bg-vatsca3">
          {announcement.map(post => <div class="w-full p-4 hover:bg-vatsca2/50">
            <a href="" class="font-semibold text-xl">
              {post.title}
            </a>
            <br/>
            <a href="">
              {post.description}
            </a>
            <br/>
            <a href="" class="text-lg font-semibold">
              {post.date} | By {post.author}
            </a>
          </div>)}
          
        </div>
      </div>
      <div class="w-full h-full bg-white dark:bg-vatsca3 flex flex-col items-center col-span-6 xl:col-span-2">
        <div class="bg-vatsca2 h-12 text-xl font-bold text-white w-full m-0 pl-4 flex items-center">
          Community
        </div>
        <div class="w-full h-full bg-white dark:bg-vatsca3 flex flex-col p-4 gap-4">
          <a href="" class="w-full bg-[#488e78] h-16 text-xl font-semibold text-center flex items-center justify-center text-white">
            Join VATSIM Scandinavia
          </a>
          <a href="" class="w-full bg-[#274f68] h-16 text-xl font-semibold text-center flex items-center justify-center text-white">
            Signup for ATC Traning
          </a>
          <a href="" class="w-full bg-[#8397ee] h-16 text-xl font-semibold text-center flex items-center justify-center text-white">
            Join our Discord
          </a>
        </div>
      </div>
      <div
        class="w-full h-full flex flex-col col-span-6 xl:col-span-4 items-center justify-center"
      >
        <div
          class="bg-vatsca2 h-16 text-xl font-bold text-white w-full m-0 pl-4 flex items-center"
        >
          Events
        </div>
        <!-- Featured Event -->
        <div
          class="w-full h-full grid grid-cols-1 md:grid-cols-2 xl:grid-cols-4 bg-white dark:bg-vatsca3"
        >
          <div class="p-4 col-span-2 h-fit">
            <img
              class="m-0 aspect-video"
              src="https://vatsim-scandinavia.org/uploads/monthly_2024_02/image.thumb.png.feedb461ebb532c3d652d9a6f4c11829.png"
              alt=""
            />
          </div>
          <div class="p-4 col-span-2 h-fit">
            <h1 class="text-vatsca2 dark:text-snow font-bold text-2xl -mt-2">
              Copenhagen Live 2024
            </h1>
            <p>
              The time has come once again! On September 21st 2024, we are
              excited to welcome you to the 8th annual Copenhagen LIVE. Join us
              as controllers from all of VATSIM-Scandinavia comes together in
              Copenhagen to supply non-stop ATC for you the entire day starting
              from 6z and all the way until 22z.
            </p>
            <Button radius="none" className="bg-vatsca2 mt-4 text-white">Read More</Button>
          </div>
          <div class="w-full grid grid-cols-2 md:grid-cols-4">
            <img
              class="w-full md:w-64 p-2"
              src="https://vatsim-scandinavia.org/uploads/monthly_2024_02/image.thumb.png.feedb461ebb532c3d652d9a6f4c11829.png"
              alt=""
            />
            <img
              class="w-full md:w-64 p-2"
              src="https://vatsim-scandinavia.org/uploads/monthly_2024_02/image.thumb.png.feedb461ebb532c3d652d9a6f4c11829.png"
              alt=""
            />
            <img
              class="w-full md:w-64 p-2"
              src="https://vatsim-scandinavia.org/uploads/monthly_2024_02/image.thumb.png.feedb461ebb532c3d652d9a6f4c11829.png"
              alt=""
            />
            <img
              class="w-full md:w-64 p-2"
              src="https://vatsim-scandinavia.org/uploads/monthly_2024_02/image.thumb.png.feedb461ebb532c3d652d9a6f4c11829.png"
              alt=""
            />
            <a href="/events" class="p-2 text-lg col-span-2 md:col-span-4 font-semibold dark:text-vatsca1">See more event here</a>
          </div>
          
        </div>
      </div>
      <div
      class="w-full h-full bg-white dark:bg-vatsca3 flex flex-col items-center col-span-6 xl:col-span-2"
    >
      <div
        class="bg-vatsca2 h-12 text-xl font-bold text-white w-full m-0 pl-4 flex items-center"
      >
        Live ATC & Bookings
      </div>
      <DisplayBookings />
    </div>
  </div>
    </div>

    <div class="w-full h-fit flex flex-col justify-center items-center backdrop-blur-sm bg-vatsca3/75 pb-6">
      <div class="max-w-[1300px] w-full h-full">
      <div
        class="w-full grid content-center grid-cols-1 xl:grid-cols-2 gap-6"
      >
        <div class="w-full h-fit flex flex-col items-center justify-center">
          <div
            class="bg-vatsca2 h-16 text-xl font-bold text-white w-full m-0 pl-4 flex items-center"
          >
            Donations
          </div>
          <div
            class="w-full min-h-80 h-fit bg-white dark:bg-vatsca3 flex justify-start items-center flex-col gap-6 p-4"
          >
            <p class="text-lg">
              VATSIM Scandinavia relies on the support and generosity of
              individuals like you to support our services.
            </p>
            <p>
              Your donations enable us to maintain our infrastructure, develop
              innovative features, and expand our reach, ensuring that pilots
              across the scandinavian airspace can continue to enjoy the
              immersive experience of flying
            </p>
            <a
              href="/about/donations"
              class="mt-[4.5rem] rounded w-64 text-center transition focus-visible:ring-2 ring-offset-2 ring-gray-200 px-4 py-2 bg-gray-100 dark:bg-vatsca2 hover:bg-gray-200 border-2 border-transparent"
              >Read more
            </a>
          </div>
        </div>

        <div class="w-full h-fit flex flex-col items-center justify-center">
          <div
            class="bg-vatsca2 h-16 text-xl font-bold text-white w-full m-0 pl-4 flex items-center"
          >
            Feedback
          </div>
          <div
            class="w-full min-h-80 h-fit bg-white dark:bg-vatsca3 flex justify-center items-center flex-col gap-6 p-4"
          >
            <p class="text-lg">
              <span class="italic font-medium">Your</span> feedback is invaluable
              to us as we strive to enhance your virtual flying experience.
            </p>
            <p>
              Whether you've encountered seamless navigation, encountered
              challenges, or have suggestions for improvement, we want to hear
              from you.
            </p>
            <p>
              Take a moment to share your thoughts and experiences with us, and
              together, let's elevate the skies over Scandinavia to new heights.
              Fly safe, and thank you for being a part of VATSIM Scandinavia!
            </p>

            <a
              href="mailto:feedback@vatsim-scandinavia.org"
              class="rounded w-64 text-center transition focus-visible:ring-2 ring-offset-2 ring-gray-200 px-4 py-2 bg-gray-100 dark:bg-vatsca2 hover:bg-gray-200 border-2 border-transparent"
              >Feedback
            </a>
          </div>
        </div>
      </div>
    </div>
    </div>
  </div>
</Layout>
