---
import Layout from "../layout/layout.astro";
---
<Layout SiteTitle="VATSIM Scandinavia">
	<div class="w-full h-[75vh] bg-[url('https://cdn.orbxdirect.com/products/1047/632d24939545d.jpg')] bg-cover flex flex-col items-center justify-center">
		<h1 class="text-white font-bold drop-shadow-2xl text-2xl md:text-4xl lg:text-6xl mt-20">WELCOME TO</h1>
		<h1 class="text-white font-bold drop-shadow-xl text-4xl md:text-6xl lg:text-8xl">VATSIM Scandinavia</h1>
	</div>
	<div class="w-full h-screen">
		<div class="w-full h-screen bg-vatsca3 grid gap-4 content-center grid-cols1 md:grid-cols-2">
			<div class="w-full h-80 m-4 bg-white">
				<h1>Announcements</h1>
			</div>
			<div class="w-full h-80 m-4 bg-white">
				<h1>Bookings</h1>
			</div>
		</div>
	</div>
	<div class="w-full h-screen">
		<div class="w-full h-screen bg-snow flex justify-center gap-32">
			a
		</div>
	</div>
</Layout>