---
import Layout from "../layout/layout.astro";
import Bookings from "../components/Bookings";
import DonationGoal from "../components/donationGoal"
import Map from "../components/Map"
---

<Layout SiteTitle="VATSIM Scandinavia">
  <div class="overflow-hidden">

    <div class="w-full h-[calc(100vh-6rem)] bg-snow flex justify-between">
      <div class="w-full flex flex-col items-center justify-center bg-snow">
        <h5 class="text-vatsca2 font-bold drop-shadow text-4xl">WELCOME TO</h5>
        <h1 class="text-vatsca2 font-bold drop-shadow text-6xl text-center">
          VATSIM Scandinavia
        </h1>
        <p class="text-vatsca2 font-semibold drop-shadow text-lg p-2 text-center w-4/5 lg:w-full ">
          Home vACC of Denmark, Sweden, Norway, Finland & Iceland
        </p>
      </div>
      <div class="w-full bg-snow hidden xl:block">
        <Map />
	  </div>
    </div>

    <div
      class="w-full h-fit bg-vatsca3 grid gap-4 content-start pt-6 grid-cols1 xl:grid-cols-4 p-8"
      id="bookings"
    >
      <div class="w-full h-full flex flex-col col-span-3">
        <div
          class="bg-vatsca2 h-12 text-xl font-bold text-white w-full m-0 pl-4 flex items-center"
        >
          Latest announcements
        </div>
        <div class="bg-white">
          <div class="w-full p-4">
            <h2 class="font-semibold text-xl">
              <span class="font-bold text-vatsca3">[VACANT POSITION]</span> Director
              of VATSIM Scandinavia
            </h2>
            <p>
              Due to the recent discussions in various channels of our Discord
              server and on these forums, I have been asked to make this
              announcement explaining our position and the position of VATSIM
              regarding the ongoing war.
            </p>
            <p class="text-lg font-semibold">
              February 29 | By Christian Kovanen
            </p>
          </div>
          <hr />
          <div class="w-full p-4">
            <h2 class="font-semibold text-xl">
              Real-world conflicts on VATSIM
            </h2>
            <p>
              Due to the recent discussions in various channels of our Discord
              server and on these forums, I have been asked to make this
              announcement explaining our position and the position of VATSIM
              regarding the ongoing war.
            </p>
            <p class="text-lg">February 29 | By Christian Kovanen</p>
          </div>
        </div>
      </div>
      <div
        class="w-full h-full bg-white flex flex-col items-center col-span-3 xl:col-span-1  xl:row-span-2"
      >
        <div
          class="bg-vatsca2 h-12 text-xl font-bold text-white w-full m-0 pl-4 flex items-center"
        >
          ATC Bookings
        </div>
        <Bookings />
      </div>
      <div
        class="w-full h-full flex flex-col col-span-3 items-center justify-center"
      >
        <div
          class="bg-vatsca2 h-16 text-xl font-bold text-white w-full m-0 pl-4 flex items-center"
        >
          Events
        </div>
        <!-- Featured Event -->
        <div class="w-full h-full grid grid-cols-1 md:grid-cols-2 xl:grid-cols-4 bg-white">
          <div class="p-4 col-span-2">
            <img
              class="m-0 aspect-video"
              src="https://vatsim-scandinavia.org/uploads/monthly_2024_02/image.thumb.png.feedb461ebb532c3d652d9a6f4c11829.png"
              alt=""
            />
          </div>
          <div class="p-4 col-span-2">
            <span class="text-thin italic">September 21st | 06:00-22:00z</span>
            <h1 class="text-vatsca2 font-bold text-2xl -mt-2">
              Copenhagen Live 2024
            </h1>
            <p>
              The time has come once again! On September 21st 2024, we are
              excited to welcome you to the 8th annual Copenhagen LIVE. Join us
              as controllers from all of VATSIM-Scandinavia comes together in
              Copenhagen to supply non-stop ATC for you the entire day starting
              from 6z and all the way until 22z.
            </p>
          </div>
          <img
            class="aspect-video p-4"
            src="https://vatsim-scandinavia.org/uploads/monthly_2024_02/image.thumb.png.feedb461ebb532c3d652d9a6f4c11829.png"
            alt=""
          />
          <img
            class="aspect-video p-4"
            src="https://vatsim-scandinavia.org/uploads/monthly_2024_02/image.thumb.png.feedb461ebb532c3d652d9a6f4c11829.png"
            alt=""
          />
          <img
            class="aspect-video p-4"
            src="https://vatsim-scandinavia.org/uploads/monthly_2024_02/image.thumb.png.feedb461ebb532c3d652d9a6f4c11829.png"
            alt=""
          />
          <img
            class="aspect-video p-4"
            src="https://vatsim-scandinavia.org/uploads/monthly_2024_02/image.thumb.png.feedb461ebb532c3d652d9a6f4c11829.png"
            alt=""
          />
        </div>
      </div>
    </div>

	<div class="w-full h-fit bg-snow grid content-center grid-cols-1 xl:grid-cols-2 gap-4 p-4">

		<div class="w-full h-fit flex flex-col items-center justify-center">
			<div class="bg-vatsca2 h-16 text-xl font-bold text-white w-full m-0 pl-4 flex items-center">
			Donations
			</div>
			<div class="w-full h-48 bg-white flex justify-center items-center flex-col gap-6">
				<h2 class="text-lg">We have raised enough to cover the costs for the year 2022. Donations are still welcome to cover our costs in the future.
				</h2>
				<DonationGoal client:visible/>
				<a
				href="mailto:feedback@vatsim-scandinavia.org"
				class="rounded w-64 text-center transition focus-visible:ring-2 ring-offset-2 ring-gray-200 px-4 py-2 bg-gray-100 hover:bg-gray-200 border-2 border-transparent"
				>Read more
			  </a>
        	</div>
     	</div>

		 <div class="w-full h-fit flex flex-col items-center justify-center">
			<div class="bg-vatsca2 h-16 text-xl font-bold text-white w-full m-0 pl-4 flex items-center">
			Feedback
			</div>
			<div class="w-full h-48 bg-white flex justify-center items-center flex-col gap-6">
				<h2 class="text-lg">We'd love to hear your feedback when you've been flying in Scandinavia.<br />
					Either it's funny stories, critique or suggestions for improvements.
				</h2>
				<a
				href="mailto:feedback@vatsim-scandinavia.org"
				class="rounded w-64 text-center transition focus-visible:ring-2 ring-offset-2 ring-gray-200 px-4 py-2 bg-gray-100 hover:bg-gray-200 border-2 border-transparent"
				>Feedback
			  </a>
        	</div>
     	</div>
	  
	</div>
  </div>
</Layout>
