---
import Layout from "../layout/layout.astro";
import Bookings from "../components/Bookings.astro";
import { Button } from "../components/ui/button";
import HeroButton from "../components/ui/HeroButton.astro";
import CardBox from "../components/ui/CardBox.astro";
import CardButton from "../components/ui/CardButton.astro";
import { getCollection } from 'astro:content';

const allAnnouncements = await getCollection('announcements');
allAnnouncements.sort((a, b) => new Date(b.data.date).getTime() - new Date(a.data.date).getTime());

---

<Layout SiteTitle="VATSIM Scandinavia">
    <div class="w-full h-full flex flex-col items-center -mt-20">
        
        <div class="w-full h-[calc(75vh)] flex justify-center backdrop-blur-sm bg-repeat" >
            <div class="max-w-[1300px] w-full h-full flex">
                <div class="w-full flex flex-col items-center justify-center p-12 font-bold">
                    <h1 class="text-secondary dark:text-white text-xl md:text-4xl 2xl:text-6xl text-center drop-shadow-xl">
                        Serving the Scandinavian skies 
                    </h1>
                    <p class="mt-12 sm:mt-0 text-secondary dark:text-white text-xl p-2 text-center w-full md:w-3/5 lg:w-full drop-shadow-xl font-medium">
                        Home vACC of Denmark, Finland, Iceland, Norway & Sweden
                    </p>
                    <div class="flex gap-4 pt-4 w-full">
                        <HeroButton href="https://wiki.vatsim-scandinavia.org/books/getting-started-AVr/chapter/joining-vatsim-scandinavia" text="Join VATSIM Scandinavia" color="bg-success"/>
                        <HeroButton href="http://discord.vatsim-scandinavia.org" text="Join our Discord" color="bg-[#8397ee]"/>
                    </div>
                </div>
                <div class="w-full hidden xl:block">
                    <div class="w-full h-full flex items-center justify-center">
                        <img src="img/euroscope.svg" class="w-full"/>
                    </div>
                </div>
            </div>
        </div>
        
        <div class="w-full h-fit backdrop-blur-sm flex justify-center  bg-repeat" id="bookings">
            <div class="max-w-[1300px] w-full content-center pt-6 pb-6">
                <div class="flex gap-8">
                    <div class="flex flex-col gap-8">
                        <CardBox title="Latest announcements" padding="4">
                            {allAnnouncements.slice(0, 2).map(post => 
                                <div class="w-full p-2 hover:bg-vatsca2/50">
                                    <a href={"/announcements/"+post.slug}>
                                        <span class="font-semibold text-md text-secondary">
                                            {post.data.title}
                                        </span>
                                        <br/>
                                        <span style="display: -webkit-box;-webkit-line-clamp: 2;-webkit-box-orient: vertical;overflow: hidden;">
                                            {post.data.description}
                                        </span>
                                        <span class="mt-2">
                                            {new Date(post.data.date).toLocaleDateString('en-GB')} | By {post.data.author}
                                        </span>
                                    </a>
                                </div>
                            )}
                        </CardBox>
                            
                        <CardBox title="Events">
                                
                            <div class="p-4 col-span-2 h-fit">
                                <img
                                class="m-0"
                                src="https://vatsim-scandinavia.org/uploads/monthly_2024_02/image.thumb.png.feedb461ebb532c3d652d9a6f4c11829.png"
                                alt=""
                                />
                            </div>
                            <div class="p-4 col-span-2 h-fit">
                                <h1 class="text-vatsca2 dark:text-white font-bold text-2xl -mt-2">
                                    Copenhagen Live 2024
                                </h1>
                                <p>
                                    The time has come once again! On September 21st, 2024, we are
                                    excited to welcome you to the 8th annual Copenhagen LIVE. Join us
                                    as controllers from all of VATSIM-Scandinavia come together in
                                    Copenhagen to supply non-stop ATC for you the entire day starting
                                    from 6z and all the way until 22z.
                                </p>
                                <CardButton href="#" text="Read more"/>
                            </div>
                            <div class="w-full grid col-span-2 md:col-span-4 gap-4 px-4">
                                <a href="" class="w-full max-w-64">
                                    <img
                                    src="https://vatsim-scandinavia.org/uploads/monthly_2024_02/image.thumb.png.feedb461ebb532c3d652d9a6f4c11829.png"
                                    alt=""
                                    />
                                </a>
                                <a href="" class="w-full max-w-64">
                                    <img
                                    src="https://vatsim-scandinavia.org/uploads/monthly_2024_02/image.thumb.png.feedb461ebb532c3d652d9a6f4c11829.png"
                                    alt=""
                                    />
                                </a>
                                <a href="" class="w-full max-w-64">
                                    <img
                                    src="https://vatsim-scandinavia.org/uploads/monthly_2024_02/image.thumb.png.feedb461ebb532c3d652d9a6f4c11829.png"
                                    alt=""
                                    />
                                </a>
                                <a href="" class="w-full max-w-64">
                                    <img
                                    src="https://vatsim-scandinavia.org/uploads/monthly_2024_02/image.thumb.png.feedb461ebb532c3d652d9a6f4c11829.png"
                                    alt=""
                                    />
                                </a>
                                <CardButton href="/events" text="See more events"/>
                            </div>
                        </CardBox>
                    </div>
                        
                    <div class="flex flex-col gap-8 w-[800px]">
                        <CardBox title="Live ATC & Bookings">
                            <Bookings />
                        </CardBox>

                        <CardBox title="Donations" padding="4">
                            <p>
                                Your donations enable us to maintain our infrastructure, develop innovative features for training, ensuring that pilots across the Scandinavian airspace can continue to enjoy the immersive experience of flying.
                            </p>

                            <CardButton href="/about/donations" text="Read more"/>
                        </CardBox>

                        <CardBox title="Feedback" padding="4">
                            <p>
                                We'd love to hear your feedback when you've been flying in Scandinavia. Either it's funny stories, critique or suggestions for improvements.
                            </p>
                            
                            <CardButton href="https://cc.vatsim-scandinavia.org/feedback" text="Leave us feedback"/>
                        </CardBox>
                    </div>
                </div>                    
            </div>
        </div>
    </div>
</Layout>
