---
import Layout from "../layout/Layout.astro";
---
<Layout SiteTitle="VATSIM Scandinavia">
    <div class="w-full h-screen flex flex-col justify-start items-center text-center dark:bg-vatsca3/75  bg-repeat">
        <h1 class="text-4xl py-6">Transfering and visiting controller</h1>
        <p>We have gathered all relevant information here in our "Transfer & Visiting policy in VATSIM Scandinavia".</p>

        <a class="underline" href="/docs/Transfer & Visiting policy in VATSCA.pdf" target="_blank">Transfer & Visiting policy in VATSCA.pdf</a>

        <p>View all active Visiting Controllers <a href="https://cc.vatsim-scandinavia.org/endorsements/visiting" target="_blank" class="text-vatsca1 font-semibold">Here</a></p>
    </div>
</Layout>
