---
import Layout from "../layout/layout.astro";
---
<Layout SiteTitle="VATSIM Scandinavia">
    <div class="w-full h-screen flex flex-col justify-start items-center text-center dark:bg-vatsca3/75 bg-topography-light dark:bg-topography-dark bg-repeat">
        <h1 class="text-4xl py-6">Visiting controller</h1>
        <p>VATSIM Scandinavia welcomes all controllers to become a visiting controller within our vACC</p>
        <p>By applying, you confirm that you are in good standing with VATSIM, understand and accept the contents of VATSIM Scandinavia's constitution,<br /> and have met all the requirements put forward by VATEUD.</p>
        <p>View all active Visiting Controllers <a href="https://cc.vatsim-scandinavia.org/endorsements/visiting" target="_blank" class="text-vatsca1 font-semibold">Here</a></p>
    </div>
</Layout>
