---
import Layout from "../../layout/layout.astro";
import Breadcrumbs from "../../components/Breadcrumbs"
---
<Layout SiteTitle="VATSIM Scandinavia">
    <div class="w-full h-full bg-snow flex justify-center py-12">
      <div class="max-w-[1300px] w-full h-full justify-start flex flex-col">
        <h1 class="text-4xl font-semibold text-center mt-12">Denmark</h1>
        <p class="text-lg text-center">Here you will find information about each airport in Denmark, including ATC frequencies,<br/> local traffic regulations, parking procedures, and links to charts and scenery.</p>
        <div class="">

          <p class="font-semibold text-xl">Official Charts <a class="font-normal italic" href="https://aim.naviair.dk/en/">NAVIAIR</a></p>
          <p class="font-semibold text-xl">Scenery <a class="font-normal italic" href="https://flightsim.to/by-country/DK/">flightsim.to</a></p>

          <div class="grid grid-cols-4 gap-4 px-4 text-2xl">
            <a href="/airports-and-charts/EKDK/EKCH" class="bg-vatsca3 rounded-md text-white w-full shadow aspect-[2/3]">
              <div class="bg-[url('/airports/EKCH.png')] w-full h-2/3 bg-cover bg-center" />
              <h1 class="flex items-center pl-4 h-1/3">Copenhagen<br/>EKCH</h1>
            </a>
            <a href="/airports-and-charts/EKDK/EKRK" class="bg-vatsca3 rounded-md text-white w-full shadow aspect-[2/3]">
              <div class="bg-[url('/airports/EKRK.png')] w-full h-2/3 bg-cover bg-center" />
              <h1 class="flex items-center pl-4 h-1/3">Roskilde<br/> <span class="font-bold">EKRK</span> </h1>
            </a>
            <a href="/airports-and-charts/EKDK/EKYT" class="bg-vatsca3 rounded-md text-white w-full shadow aspect-[2/3]">
              <div class="bg-[url('/airports/EKYT.png')] w-full h-2/3 bg-cover bg-center" />
              <h1 class="flex items-center pl-4 h-1/3">Aalborg<br/>EKYT</h1>
            </a>
            <a href="/airports-and-charts/EKDK/EKBI" class="bg-vatsca3 rounded-md text-white w-full shadow aspect-[2/3]">
              <div class="bg-[url('/airports/EKBI.png')] w-full h-2/3 bg-cover bg-center" />
              <h1 class="flex items-center pl-4 h-1/3">Billund<br/>EKBI</h1>
            </a>
            <a href="/airports-and-charts/EKDK/EKAH" class="bg-vatsca3 rounded-md text-white w-full shadow aspect-[2/3]">
              <div class="bg-[url('/airports/EKAH.png')] w-full h-2/3 bg-cover bg-center" />
              <h1 class="flex items-center pl-4 h-1/3">Aarhus<br/>EKAH</h1>
            </a>
            <a href="/airports-and-charts/EKDK/EKRN" class="bg-vatsca3 rounded-md text-white w-full shadow aspect-[2/3]">
              <div class="bg-[url('/airports/EKRN.png')] w-full h-2/3 bg-cover bg-center" />
              <h1 class="flex items-center pl-4 h-1/3">Rønne<br/>EKRN</h1>
            </a>
            <a href="/airports-and-charts/EKDK/EKSB" class="bg-vatsca3 rounded-md text-white w-full shadow aspect-[2/3]">
              <div class="bg-[url('/airports/EKSB.png')] w-full h-2/3 bg-cover bg-center" />
              <h1 class="flex items-center pl-4 h-1/3">Sønderborg<br/>EKSB</h1>
            </a>
            <a href="/airports-and-charts/EKDK/EKSP" class="bg-vatsca3 rounded-md text-white w-full shadow aspect-[2/3]">
              <div class="bg-[url('/airports/EKSP.png')] w-full h-2/3 bg-cover bg-center" />
              <h1 class="flex items-center pl-4 h-1/3">Skydstrup<br/>EKSP</h1>
            </a>
          </div>
        </div>
      </div>
    </div>
</Layout>