---
import {Chip} from "@nextui-org/react";
---

<div class="max-h-[450px] w-full h-full overflow-y-scroll">
    <table class=" w-full h-full text-sm">
        <tr>
            <td colspan="4" class="font-bold text-center w-full">Today</td>
        </tr>
        <tr>
            <td class="font-bold text-[#41826e]">EKCH_W_APP</td>
            <td><Chip radius="none" size="sm" color="success" className="text-white">Event</Chip></td>
            <td>17:00z</td>
            <td>21:00z</td>
        </tr>
        <tr>
            <td>EKCH_W_APP</td>
            <td><Chip radius="none" size="sm" className="text-white bg-vatsca2">Traning</Chip></td>
            <td>17:00z</td>
            <td>21:00z</td>
        </tr>
        <tr>
            <td>EKCH_W_APP</td>
            <td><Chip radius="none" size="sm" color="danger" className="text-white">Exam</Chip></td>
            <td>17:00z</td>
            <td>21:00z</td>
        </tr>
        <tr>
            <td>EKCH_W_APP</td>
            <td>Event</td>
            <td>17:00z</td>
            <td>21:00z</td>
        </tr>
        <tr>
            <td>EKCH_W_APP</td>
            <td>Event</td>
            <td>17:00z</td>
            <td>21:00z</td>
        </tr>
        <tr>
            <td>EKCH_W_APP</td>
            <td>Event</td>
            <td>17:00z</td>
            <td>21:00z</td>
        </tr>
        <tr>
            <td>EKCH_W_APP</td>
            <td>Event</td>
            <td>17:00z</td>
            <td>21:00z</td>
        </tr>
        <tr>
            <td>EKCH_W_APP</td>
            <td>Event</td>
            <td>17:00z</td>
            <td>21:00z</td>
        </tr>
        <tr>
            <td>EKCH_W_APP</td>
            <td>Event</td>
            <td>17:00z</td>
            <td>21:00z</td>
        </tr>
        <tr>
            <td>EKCH_W_APP</td>
            <td>Event</td>
            <td>17:00z</td>
            <td>21:00z</td>
        </tr>
        <tr>
            <td>EKCH_W_APP</td>
            <td>Event</td>
            <td>17:00z</td>
            <td>21:00z</td>
        </tr>
        <tr>
            <td>EKCH_W_APP</td>
            <td>Event</td>
            <td>17:00z</td>
            <td>21:00z</td>
        </tr>
        <tr>
            <td>EKCH_W_APP</td>
            <td>Event</td>
            <td>17:00z</td>
            <td>21:00z</td>
        </tr>
        <tr>
            <td>EKCH_W_APP</td>
            <td>Event</td>
            <td>17:00z</td>
            <td>21:00z</td>
        </tr>
        <tr>
            <td>EKCH_W_APP</td>
            <td>Event</td>
            <td>17:00z</td>
            <td>21:00z</td>
        </tr>
        <tr>
            <td>EKCH_W_APP</td>
            <td>Event</td>
            <td>17:00z</td>
            <td>21:00z</td>
        </tr>
        <tr>
            <td>EKCH_W_APP</td>
            <td>Event</td>
            <td>17:00z</td>
            <td>21:00z</td>
        </tr>
        <tr>
            <td>EKCH_W_APP</td>
            <td>Event</td>
            <td>17:00z</td>
            <td>21:00z</td>
        </tr>
        <tr>
            <td>EKCH_W_APP</td>
            <td>Event</td>
            <td>17:00z</td>
            <td>21:00z</td>
        </tr>
        <tr>
            <td>EKCH_W_APP</td>
            <td>Event</td>
            <td>17:00z</td>
            <td>21:00z</td>
        </tr>
        <tr>
            <td>EKCH_W_APP</td>
            <td>Event</td>
            <td>17:00z</td>
            <td>21:00z</td>
        </tr>
      </table>
</div>

<style>
    td, th {
      padding: 4px;
    }
    
    tr:nth-child(even) {
      background-color: rgb(26 71 95);
    }
    /* ===== Scrollbar CSS ===== */
  /* Firefox */
  * {
    scrollbar-width: thin;
    scrollbar-color: #2e2e2e #e3e3e3;
  }

  /* Chrome, Edge, and Safari */
  *::-webkit-scrollbar {
    width: 5px;
  }

  *::-webkit-scrollbar-track {
    background: #e3e3e3;
  }

  *::-webkit-scrollbar-thumb {
    background-color: #2e2e2e;
    border-radius: 2px;
    border: 3px solid #ffffff;
  }
</style>