---
import CardButton from "../components/ui/CardButton.astro";
---

<h2 class="font-semibold text-lg text-secondary mb-2 dark:text-white">Today</h2>

<div class="flex flex-col gap-4">
    <div class="flex flex-row items-center">
        <img
        src="/img/events/cphlive2024.png"
        alt=""
        class="w-[350px]"
        />

        <div class="ml-4">
            <h3 class="text-secondary dark:text-white font-bold text-lg -mt-2">
                Copenhagen Live 2024
            </h3>
            <p class="mt-4">
                The time has come once again! On September 21st, 2024, we are
                excited to welcome you to the 8th annual Copenhagen LIVE. Join us
                as controllers from all of VATSIM-Scandinavia come together in
                Copenhagen to supply non-stop ATC for you the entire day starting
                from 6z and all the way until 22z.
            </p>
            <CardButton href="#" text="Read more" color="snow"/>
        </div>
    </div>

    <div class="flex flex-row items-center">
        <img
        src="/img/events/cphlive2024.png"
        alt=""
        class="w-[350px]"
        />

        <div class="ml-4">
            <h3 class="text-secondary dark:text-white font-bold text-lg -mt-2">
                Copenhagen Live 2024
            </h3>
            <p class="mt-4">
                The time has come once again! On September 21st, 2024, we are
                excited to welcome you to the 8th annual Copenhagen LIVE. Join us
                as controllers from all of VATSIM-Scandinavia come together in
                Copenhagen to supply non-stop ATC for you the entire day starting
                from 6z and all the way until 22z.
            </p>
            <CardButton href="#" text="Read more" color="snow"/>
        </div>
    </div>
</div>

<h2 class="font-semibold text-lg text-secondary mt-8 mb-2 dark:text-white">Upcoming</h2>
<div class="flex flex-row gap-2 overflow-x-scroll">
    <img
    src="https://vatsim-scandinavia.org/uploads/monthly_2024_02/image.thumb.png.feedb461ebb532c3d652d9a6f4c11829.png"
    alt=""
    class="w-[280px]"
    />
    <img
    src="https://vatsim-scandinavia.org/uploads/monthly_2024_02/image.thumb.png.feedb461ebb532c3d652d9a6f4c11829.png"
    alt=""
    class="w-[280px]"
    />
    <img
    src="https://vatsim-scandinavia.org/uploads/monthly_2024_02/image.thumb.png.feedb461ebb532c3d652d9a6f4c11829.png"
    alt=""
    class="w-[280px]"
    />
    <img
    src="https://vatsim-scandinavia.org/uploads/monthly_2024_02/image.thumb.png.feedb461ebb532c3d652d9a6f4c11829.png"
    alt=""
    class="w-[280px]"
    />
</div>