---
import CardButton from "../components/ui/CardButton.astro";
---

<h3 class="font-semibold text-lg text-secondary mb-2 dark:text-white p-2">Today</h3>

<div class="flex flex-col gap-4 md:w-full p-2">
    <div class="flex flex-col md:flex-row justify-center gap-2">
        <img
        src="/img/events/cphlive2024.png"
        alt=""
        class="md:w-[350px] max-lg:w-[100%] h-fit"
        />
        <div class="md:ml-4">
            <h4 class="text-secondary dark:text-white font-bold text-lg -mt-2">
                Copenhagen Live 2024
            </h4>
            <p class="mt-4 md:w-full break-words ">
                The time has come once again! On September 21st, 2024, we are excited to welcome you to the 8th annual Copenhagen LIVE. Join us as controllers from all of VATSIM-Scandinavia come together in Copenhagen to supply non-stop ATC for you the entire day starting from 6z and all the way until 22z.
            </p>
            <CardButton href="#" text="Read more" color="snow"/>
        </div>
    </div>

    <div class="flex flex-col md:flex-row justify-center md:items-center gap-2">
        <img
        src="/img/events/cphlive2024.png"
        alt=""
        class="md:w-[350px] max-lg:w-[100%] h-fit"
        />

        <div class="md:ml-4">
            <h4 class="text-secondary dark:text-white font-bold text-lg -mt-2">
                Copenhagen Live 2024
            </h4>
            <p class="mt-4 md:w-full">
                The time has come once again! On September 21st, 2024, we are
                excited to welcome you to the 8th annual Copenhagen LIVE. Join us
                as controllers from all of VATSIM-Scandinavia come together in
                Copenhagen to supply non-stop ATC for you the entire day starting
                from 6z and all the way until 22z.
            </p>
            <CardButton href="#" text="Read more" color="snow"/>
        </div>
    </div>
</div>

<h3 class="font-semibold text-lg text-secondary mt-8 mb-2 dark:text-white p-2">Upcoming</h3>
<div class="flex flex-row gap-2 overflow-x-scroll p-4" tabindex="0">
    <img
    src="/img/events/procdctreg.png"
    alt=""
    class="w-[280px] max-lg:w-[200px] h-fit"
    />
    <img
    src="/img/events/cphlive2024.png"
    alt=""
    class="w-[280px] max-lg:w-[200px] h-fit"
    />
    <img
    src="/img/events/vtc.png"
    alt=""
    class="w-[280px] max-lg:w-[200px] h-fit"
    />
    <img
    src="/img/events/vtc.png"
    alt=""
    class="w-[280px] max-lg:w-[200px] h-fit"
    />
</div>