<div class="w-full h-32 bg-vatsca3 text-snow text-xs gap-4 flex flex-col justify-end items-center p-6">
    <div class="flex flex-col text-center">
        <p>COPYRIGHT © VATSIM SCANDINAVIA. ALL RIGHTS RESERVED.</p>
        <p>THE CONTENTS ON THIS SITE ARE INTENDED ONLY FOR FLIGHT SIMULATION</p>
    </div>
    <div>
        <ul class="flex gap-4">
            <li><a href="https://wiki.vatsim-scandinavia.org/books/privacy-policies">Privacy Policy</a></li>
            <li><a href="https://wiki.vatsim-scandinavia.org/books/privacy-policies/page/data-protection-policy">Data Protection Policy</a></li>
            <li><a href="https://wiki.vatsim-scandinavia.org/books/privacy-policies/page/cookie-policy">Cookie Policy</a></li>
            <li><a href="https://wiki.vatsim-scandinavia.org/books/privacy-policies/page/other-privacy-documents">Other Privacy Documents</a></li>
        </ul>
    </div>
</div>