<div class="w-full h-40 text-xs md:text-medium bg-secondary flex flex-col justify-center items-center p-2 gap-4 text-white">
    <div class="text-sm md:text-medium text-center">
        <ul class="flex gap-4">
            <li><a href="https://wiki.vatsim-scandinavia.org/books/privacy-policies" target="_blank">Privacy Policy</a></li>
            <li><a href="https://wiki.vatsim-scandinavia.org/books/getting-started-AVr/chapter/joining-vatsim-scandinavia" target="_blank">Join VATSCA</a></li>
            <li><a href="http://discord.vatsim-scandinavia.org/" target="_blank">Discord</a></li>
            <li><a href="http://vatsim-scandinavia.org/" target="_blank">Contact Us</a></li>
        </ul>
    </div>
    <div class="flex flex-col text-center break-words">
        <p class="whitespace-break-spaces">© VATSIM Scandinavia - FOR FLIGHT SIMULATION USE ONLY. All rights reserved</p>
    </div>
</div>