<div class="w-full h-40 text-xs md:text-medium bg-vatsca3 flex flex-col justify-center items-center p-2 gap-4 text-white">
    <div class="flex flex-col text-center break-words">
        <p class="whitespace-break-spaces">COPYRIGHT © VATSIM SCANDINAVIA. ALL RIGHTS RESERVED.</p>
        <p>THE CONTENTS ON THIS SITE ARE INTENDED ONLY FOR FLIGHT SIMULATION</p>
    </div>
    <div class="text-sm md:text-medium text-center">
        <ul class="flex gap-4">
            <li><a href="https://wiki.vatsim-scandinavia.org/books/privacy-policies">Privacy Policy</a></li>
            <li><a href="https://wiki.vatsim-scandinavia.org/books/privacy-policies/page/data-protection-policy">Data Protection Policy</a></li>
            <li><a href="https://wiki.vatsim-scandinavia.org/books/privacy-policies/page/cookie-policy">Cookie Policy</a></li>
            <li><a href="https://wiki.vatsim-scandinavia.org/books/privacy-policies/page/other-privacy-documents">Other Privacy Documents</a></li>
        </ul>
    </div>
</div>