---
import { Astronav, MenuItems, MenuIcon } from "astro-navbar";
import ThemeToggle from "./ThemeToggle"
import Navigation from "./Navigation";
---
<header class="w-full h-[80px] flex justify-center sticky text-white bg-secondary top-0 z-50 px-24 max-lg:px-8 py-2">
    <Astronav>
        <div class="w-[1300px] max-lg:w-[100%] flex flex-col lg:flex-row justify-between items-center">
            <div class="flex w-full lg:w-auto items-center justify-between">
                <a href="/">
                    <img width="150" src="/img/logos/negative.svg" alt="VATSIM Scandinavia logo">
                </a>
                <div class="block lg:hidden">
                    <MenuIcon class="w-8 h-8 text-gray-200" />
                </div>
            </div>
            <MenuItems class="hidden w-full px-8 lg:w-auto mt-2 lg:flex lg:mt-0 text-xl ">
                <div class="flex flex-col lg:flex-row lg:gap-3 items-center max-lg:bg-secondary max-lg:p-8">
                    <Navigation client:visible/>
                    <div class="w-full justify-start py-4 lg:hidden">
                        <ThemeToggle client:only/>
                    </div>
                </div>
            </MenuItems>
            <div class="hidden lg:block">
                <ThemeToggle client:only/>
            </div>
        </div>
    </Astronav>
</header>