<div class="backdrop-blur bg-vatsca3 w-full h-24 flex justify-center fixed top-0 z-10 drop-shadow-md">
    <div class="flex w-full md:w-2/3 items-center justify-center">
        <img src="/VATSCA.svg" class="h-16"/>
        <ul class="flex gap-0 md:gap-20 ml-10 text-xl text-snow invisible md:visible">
            <li>
                Home
            </li>
            <li>
                Pilots
            </li>
            <li>
                ATC
            </li>
            <li>
                About
            </li>
        </ul>
    </div>
</div>