@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    :root {
        
        --primary: hsl(192, 77%, 58%);
        --secondary: hsl(201, 57%, 24%);
        --tertiary: hsl(212, 95%, 8%);
        --grey: hsl(195, 3%, 29%);
        --lightgrey: hsl(214, 24%, 94%);
        --snow: hsl(180, 23%, 90%);
        --success: hsl(162, 33%, 38%);
        --danger: hsl(0, 49%, 48%);
        --warning: hsl(36, 100%, 50%);
        
        --popover: hsl(0 0% 100%);
        --popover-foreground: hsl(222.2 84% 4.9%);
        
        --muted: hsl(210 40% 96.1%);
        --muted-foreground: hsl(215.4 16.3% 46.9%);
        
        --accent: hsl(180, 23%, 90%);
        --accent-foreground: hsl(222.2 47.4% 11.2%);
        
        --border: hsl(214.3 31.8% 91.4%);
        --input: hsl(214.3 31.8% 91.4%);
        --ring: hsl(222.2 84% 4.9%);
        
        --radius: 2px;
    }
    
    .dark {
        --primary: hsl(192, 77%, 58%);
        --secondary: hsl(201, 57%, 24%);
        --tertiary: hsl(212, 95%, 8%);
        --grey: hsl(195, 3%, 29%);
        --lightgrey: hsl(226, 18%, 19%);
        --snow: hsl(201, 52%, 19%);
        --success: hsl(163, 33%, 29%);
        --danger: hsl(0, 49%, 48%);
        --warning: hsl(36, 100%, 50%);
        
        --popover: hsl(226, 18%, 19%);
        --popover-foreground: hsl(210 40% 98%);
        
        --muted: hsl(217.2 32.6% 17.5%);
        --muted-foreground: hsl(215 20.2% 65.1%);
        
        --accent: hsl(225, 24%, 39%);
        --accent-foreground: hsl(210 40% 98%);
        
        --border: hsl(217.2 32.6% 17.5%);
        --input: hsl(217.2 32.6% 17.5%);
        --ring: hsl(212.7 26.8% 83.9%);
    }
}

@layer base {
    * {
        @apply border-border;
    }
    body {
        @apply bg-background text-foreground;
    }
    
    img{
        max-width: none;
    }
}
