---
const { href, text, color } = Astro.props;
---

<a href={href} class={`bg-${color} p-3 text-center text-black hover:bg-${color}/50 d-block inline-block mt-2 text-sm font-medium rounded-sm`} target="_blank">
    {text}
</a>
