---
const { SiteTitle } = Astro.props;
import Footer from "../components/Footer.astro"
import { ViewTransitions } from "astro:transitions";
import { Tooltips } from 'astro-tooltips';
import Nav2 from "../components/navbar.astro"
---

<html lang="en" class="scroll-smooth">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>{SiteTitle}</title>
    <link rel="shortcut icon" href="/Arrow.svg" type="image/x-icon">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Public+Sans:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
    <Tooltips interactive={false} delay={[15, 140]} />
    <ViewTransitions />
  </head>
  <body class="dark:bg-gray-800 w-full h-full min-h-screen">
    <Nav2 />
    <slot />
    <Footer />
  </body>
</html>

<style>
  body {
    margin: 0;
    padding: 0;
    font-family: "Public Sans", sans-serif;
    font-optical-sizing: auto;
  }
</style>

<script is:inline>
  const theme = (() => {
    if (typeof localStorage !== "undefined" && localStorage.getItem("theme")) {
      return localStorage.getItem("theme");
    }
    if (window.matchMedia("(prefers-color-scheme: dark)").matches) {
      return "dark";
    }
    return "light";
  })();

  if (theme === "light") {
    document.documentElement.classList.remove("dark");
  } else {
    document.documentElement.classList.add("dark");
  }
  window.localStorage.setItem("theme", theme);
</script>