---
const { SiteTitle } = Astro.props;
import Navigation from "../components/Navigation.astro"
import Footer from "../components/Footer.astro"
import { ViewTransitions } from "astro:transitions";
---

<html lang="en" class="scroll-smooth">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>{SiteTitle}</title>
    <link rel="shortcut icon" href="/Arrow.svg" type="image/x-icon">
    <ViewTransitions />
  </head>
  <body class="dark:bg-vatsca2 w-full h-full">
    <Navigation />
    <slot />
    <Footer />
  </body>
</html>

<style>
  body {
    margin: 0;
    padding: 0;
  }
</style>

<script is:inline>
  const theme = (() => {
    if (typeof localStorage !== 'undefined' && localStorage.getItem('theme')) {
      return localStorage.getItem('theme');
    }
    if (window.matchMedia('(prefers-color-scheme: dark)').matches) {
      return 'dark';
    }
      return 'light';
  })();

  if (theme === 'light') {
    document.documentElement.classList.remove('dark');
  } else {
    document.documentElement.classList.add('dark');
  }

  window.localStorage.setItem('theme', theme);
</script>