---
const { SiteTitle } = Astro.props;
import Navigation from "../components/Navigation.astro"
import Footer from "../components/Footer.astro"
import { ViewTransitions } from "astro:transitions";
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>{SiteTitle}</title>
    <ViewTransitions />
  </head>
  <body class="bg-gray-200">
    <Navigation />
    <slot />
    <Footer />
  </body>
</html>
