---
const { SiteTitle } = Astro.props;
import Navigation from "../components/Navigation.astro"
import Footer from "../components/Footer.astro"
import { ViewTransitions } from "astro:transitions";
---

<html lang="en" class="scroll-smooth">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>{SiteTitle}</title>
    <link rel="shortcut icon" href="/Arrow.svg" type="image/x-icon">
    <ViewTransitions />
  </head>
  <body>
    <Navigation />
    <slot />
    <Footer />
  </body>
</html>
